/* Bootstrap file */ 

.navbar {
  background-color: #fff!important;
}

.navbar-brand {
  color: #000!important;
}

.btn-primary {
  background-color: #D90429;
  border-color: #D90429;  
  border-radius: 0.75rem;
  padding: .375rem .75rem;
}